# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ambiente virtual
.venv/
venv/
env/

# Banco de dados
data/*.db

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
